<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="Temp Cleaner" Manufacturer="Subroto Saha" Version="0.0.0.0" UpgradeCode="8ed2b67f-6148-4943-97a2-49d4c7a7dfec">
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MyWpfApp">
          <Component Id="MainExecutable" Guid="9df3e5c4-8fd2-4c67-90ce-1b6e221a8d88">
            <File Source="..\publish\MyWpfApp.exe" KeyPath="yes" />
            <File Source="..\publish\MyWpfApp.dll" />
            <File Source="..\publish\System.Runtime.dll" />
</Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="MyWpfApp" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>

    <Icon Id="AppIcon" SourceFile="../Images/Designer.png"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon"/>

  </Package>
</Wix>
