<?xml version="1.0" encoding="utf-8"?>
<Release>
  <Versioning>
    <Scheme>SemVer</Scheme>
    <AssemblyVersionPrefix>1.0.0</AssemblyVersionPrefix>
    <PackageVersionPrefix>1.0.0</PackageVersionPrefix>
    <AutoIncrement>True</AutoIncrement>
  </Versioning>

  <Paths>
    <OutputDirectory>publish</OutputDirectory>
    <MSIOutput>publish\Temp_Cleaner-$(Version).msi</MSIOutput>
    <ExeOutput>publish\Temp_Cleaner-$(Version).exe</ExeOutput>
  </Paths>

  <WiX>
    <ProjectFile>Installer\Product.wxs</ProjectFile>
    <OutputDirectory>publish</OutputDirectory>
  </WiX>

  <ReleaseInfo>
    <Name>Temp Cleaner</Name>
    <Manufacturer>Subroto Saha</Manufacturer>
    <ProductCode>{8ED2B67F-6148-4943-97A2-49D4C7A7DFEC}</ProductCode>
    <UpgradeCode>{8ED2B67F-6148-4943-97A2-49D4C7A7DFEC}</UpgradeCode>
  </ReleaseInfo>
</Release>
