<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="Temp Cleaner"
           Manufacturer="Subroto Saha"
           Version="$(var.ProductVersion)"
           UpgradeCode="8ed2b67f-6148-4943-97a2-49d4c7a7dfec">
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Directories -->
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="Temp_Cleaner" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Directory Id="DesktopShortcutDir" Name="." />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="Temp Cleaner" />
    </StandardDirectory>

    <!-- Components -->
    <Component Id="MainExecutable" Directory="INSTALLFOLDER" Guid="*">
      <File Source="..\bin\Release\net8.0-windows\win-x64\TempCleaner.exe" />
    </Component>

    <Component Id="DesktopShortcut" Directory="DesktopShortcutDir" Guid="*">
      <Shortcut Id="DesktopAppShortcut"
                Name="Temp Cleaner"
                Target="[INSTALLFOLDER]TempCleaner.exe"
                Icon="AppIcon"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveDesktop" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\Temp Cleaner" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>

    <Component Id="StartMenuShortcut" Directory="ProgramMenuDir" Guid="*">
      <Shortcut Id="StartMenuAppShortcut"
                Name="Temp Cleaner"
                Target="[INSTALLFOLDER]TempCleaner.exe"
                Icon="AppIcon"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveStartMenu" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\Temp Cleaner" Name="startMenu" Type="integer" Value="1" KeyPath="yes"/>
    </Component>

    <!-- Icon -->
    <Icon Id="AppIcon" SourceFile="..\Images\Designer.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon"/>

    <!-- Feature -->
    <Feature Id="ProductFeature" Title="Temp Cleaner" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="DesktopShortcut"/>
      <ComponentRef Id="StartMenuShortcut"/>
    </Feature>

  </Package>
</Wix>
