<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="Temp Cleaner"
           Manufacturer="Subroto Saha"
           Version="$(var.ProductVersion)"
           UpgradeCode="8ed2b67f-6148-4943-97a2-49d4c7a7dfec">
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="Temp_Cleaner">
        <Component Id="MainExecutable" Guid="9df3e5c4-8fd2-4c67-90ce-1b6e221a8d88">
          <File Source="..\bin\Release\net8.0-windows\win-x64\publish\TempCleaner.exe" KeyPath="yes" />
          <File Source="..\bin\Release\net8.0-windows\Images\Designer.ico" />

        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="ProductFeature" Title="Temp Cleaner" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>

    <Icon Id="AppIcon" SourceFile="../Images/Designer.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon"/>

  </Package>
</Wix>
